@import url("default.css");

body{
  background-color: #7E97AC;
}

.wts-main-center-section,
.wts-main-float-section,
.wts-main-section,
.wts-aside-section,
.wts-main-toolbar-section{
  background-color: #D5DFE8;
}

#wts-main-nav,
#wts-main-nav li,
#wts-main-nav li:hover ul{
  background-color: #004073;
}

#wts-main-nav span, #wts-main-nav a:hover{
  background-color: #002C4F;
}

.wts-toolbar-nav-button:hover, .wts-toolbar-button:hover{
  background-color: #7E97AC;
  background-color: rgba(126, 151, 172, .7);
}

.wts-table-sel,
.wts-table tbody tr:hover,
.wts-aside-calendar-table tbody td:hover, 
.wts-calendar-table tbody td:hover{
  background-color: #abbcc9;
}
