/************************************************************************************
RESET
*************************************************************************************/
html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, legend, fieldset {
  margin: 0;
  padding: 0;
}

img, fieldset{
  border: none;
}


/* set html5 elements to block */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, div{ 
  display: block;
}

input[type="text"],  input[type="password"]{
  width: 100%; 
  box-sizing: border-box;
  -moz-box-sizing: border-box; /*Firefox 1-3*/
  -webkit-box-sizing: border-box; /* Safari */
}

input[type="file"]{
  margin: 3px 5px 0 0;
}

input[type="search"]{
  box-sizing: border-box;
  -moz-box-sizing: border-box; /*Firefox 1-3*/
  -webkit-box-sizing: border-box; /* Safari */

  -webkit-appearance: none;
}

input::-ms-clear{
  display: none;
}
input[type="search"]::-webkit-search-cancel-button{
  display: none;
}

/*
::-moz-placeholder         {color: darkgray; opacity: 1;}
::-webkit-input-placeholder{color: darkgray; opacity: 1;}
:-ms-input-placeholder     {color: darkgray; opacity: 1;}

input[placeholder]          {text-overflow:ellipsis;}
input::-moz-placeholder     {text-overflow:ellipsis;}
input:-ms-input-placeholder {text-overflow:ellipsis;}

:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}
*/

/************************************************************************************
GENERAL STYLING
*************************************************************************************/
body{
  background-color: #8B8B83;
  font-family:Arial,sans-serif;
}

/************************************************************************************
STRUCTURE
*************************************************************************************/
#wts-pagewrap {
  min-width: 800px;
  max-width: 1400px;
  /*max-width: 1600px;*/
  padding: 5px;
  margin: 0 auto;
}


/************************************************************************************
HEADER
*************************************************************************************/
#wts-header{
  position: relative;
  background-repeat: no-repeat;
  background-position: right top;
  background-size: auto 70px;
  margin-bottom: 5px;
  /*background-color: green;*/
}

#wts-account{
  float: right;
  font-size: 88%;
}

#wts-account a{
  color: #E8E8E8;
}


#wts-logo-img{
  float: left;
  max-width: 70px;
  max-height: 70px;
}

/* site logo */
#wts-logo-title{
  font-size: 260%;
  top: 5px;
}

/* site description */
#wts-logo-description{
  font-size: 88%;
  top: 52px;
}

#wts-logo-title, #wts-logo-description{
  position: absolute;
  color: #E8E8E8;
  left: 70px;
}

/************************************************************************************
MESSAGES IN HEADER
*************************************************************************************/

.wts-notify, .wts-alert{
  font-size: 88%;
}

.wts-alert{
  color: #8B0000;
}

.wts-notify{
  color: #008B5B;
}

.wts-info{
  float: left;
  width:100%;
  margin: 0 0 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box; /*Firefox 1-3*/
  -webkit-box-sizing: border-box; /* Safari */
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wts-info img{
  vertical-align: middle;
  width: 28px;
  margin: 0 6px 0 3px;
}

.wts-alert.wts-info{
  border: 1px solid #8B0000;
  background-color: #F2B2B4;
}

.wts-notify.wts-info{
  border: 1px solid #008B5B;
  background-color: #B2F2CC;
}

.wts-info2{
  font-size: inherit;
  font-weight: bold;
}

/************************************************************************************
MAIN NAVIGATION
*************************************************************************************/
#wts-main-nav{
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 100;
  height: 30px;
  background-color: #505050;
  /*float: left;*/
}

#wts-main-nav li{
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  position: relative;
  background-color: #505050;
}

#wts-main-nav a{
  text-decoration: none;
  color: #e8e8e8;
}

#wts-main-nav span {
  color: #999;
  cursor: default;
}

#wts-main-nav span, #wts-main-nav a:hover{
  background-color: #3d2b1f;
}

#wts-main-nav a, #wts-main-nav span {
  padding: 0 8px;
  line-height: 30px;
  /*line-height: 100%;*/
  font-weight: bold;
  display: block;
}

#wts-main-nav li ul{
  display: none;/*прячем субменю*/
  position: absolute;
}

#wts-main-nav li:hover ul{
  display:block;/*отображаем субменю*/
  background-color: #505050;
}

#wts-main-nav li ul li{
  float: none;
}
/************************************************************************************
MAIN
*************************************************************************************/

#wts-main-wide, #wts-main{
  margin-bottom: 5px;
  /*display: inline-block;*/
  /*min-height: 400px;*/
}

#wts-main{

  float: left;
  width: 73%;
}
 
 

/************************************************************************************
SIDEBAR
*************************************************************************************/
 
#wts-sidebar{
  padding-left: 5px;
  margin-bottom: 5px;
  float: right;
  width: 26.999%;
  box-sizing: border-box;
  -moz-box-sizing: border-box; /*Firefox 1-3*/
  -webkit-box-sizing: border-box; /* Safari */
}

/************************************************************************************
FOOTER
*************************************************************************************/

#wts-footer{
  clear: both;
  color: #E8E8E8;
  font-size: 75%;
  text-align: center;
}

/************************************************************************************
SECTIONS IN MAIN & SIDEBAR
*************************************************************************************/

.wts-main-center-section{
  width: 240px;
  padding: 20px 35px;
  /*padding: 15px;*/
  margin: 100px auto;
  background-color: #CDCDC1;
}

.wts-main-float-section{
  display: inline-block;
  vertical-align: top;
  width: 232px;
  padding: 20px 35px;
  /*padding: 15px;*/
  background-color: #CDCDC1;
  margin: 0 1px 5px 0;
}

.wts-main-section{
  padding: 15px;
  /*overflow-y: auto;*/
  background-color: #CDCDC1;
  margin: 0 0 5px;
}

.wts-aside-section{
  padding: 15px;
  background-color: #CDCDC1;
  margin: 0 0 5px;
}

/*
.wts-aside-section:after{
  display: block;
  content: " ";
  clear: both;
}
*/

.wts-main-toolbar-section{
  height: 32px;
  margin-bottom: 5px;
  background-color: #CDCDC1;
}

.wts-section-caption{
  margin: 0 0 15px;
  font-size: 120%;
}

.wts-label{
  font-size: 88%;
}

.wts-hr{
  width: 100%;
  border-top: 1px solid darkgrey;
  margin: 0 0 5px;
}

.wts-input, .wts-input-select{
  width: 100%;
  padding: 5px 5px;
  border: 1px solid darkgrey;
}

.wts-button{
  font-weight: bold;
  padding: 5px 15px;
  margin-top: 15px;
}

.wts-capcha{
  height: 70px;
  border: 1px solid darkgrey;
  background-color: white;
}

.wts-toc, .wts-input-bar{
  margin: 0 0 6px;
  min-height: 27px;/*need for wts-input-bar in fwd when delete all attachment*/
}

.wts-input-bar button{
 padding: 2px 6px;
}

.wts-toc{/*table of content*/
  line-height: 20px;
  font-size: 88%;
}

.wts-toc li{
  list-style: none;
  padding: 5px;
  clear: both;
  border-top: 1px solid darkgrey;
}

.wts-toc-image{
  width: 18px;
  vertical-align: middle;
}

.wts-calendar-image{
  vertical-align: middle;
  padding: 0 5px;
  margin-bottom: 5px;
}

.wts-thumb{
  overflow-x: scroll;
  white-space: nowrap;

}

.wts-thumb li{
  list-style: none;
  text-align: center;
  display: inline-block;
  border: 1px solid darkgrey;
  background-color: white;
  background-color: rgba(255, 255, 255, .5);
  padding: 3px;
  margin-bottom: 3px;
  max-width: 160px;
}

.wts-thumb img{
  width: 160px;/* WTS_EVENT_THUMB_SIDE */
  height: 160px;/* WTS_EVENT_THUMB_SIDE */
}

.wts-thumb figcaption{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 88%;
}

.wts-event{
  
  min-height: 200px;
  border: 1px solid darkgrey;
  background-color: white;
  padding: 5px;
  margin-top: 15px;
  overflow-x: scroll;
  
}

.wts-input-bar-left{
  width: 150px;
  text-align: right;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wts-input-bar-left{
  line-height: 25px;
}

/*
#wts-attachment-size{
  font-size: 88%;
}
*/
.wts-input-bar-right{
  margin-left: 154px;
}

.wts-link, .wts-link2, .wts-attachment{
  display: inline-block;
  max-width: 300px;
  padding: 2px 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: solid 1px darkgrey;
  color: black;
  text-decoration: none;
  vertical-align: middle;
  line-height: normal;
}

.wts-link, .wts-attachment{
  font-size: 88%;
}

.wts-link2{
  font-weight: bold;
}

.wts-attachment{
  margin: 0 2px 5px 0;
}

.wts-link:hover, .wts-link2:hover{
  text-decoration: underline;
}

/************************************************************************************
TOOLBAR & ELEMENTS
*************************************************************************************/
.wts-toolbar-select{
  min-width: 150px;
}

.wts-toolbar-select, .wts-toolbar-search{
  float: left;
  margin: 5px 0 0 5px;
}

.wts-toolbar-nav-search{
  float: right;
  width: 52px;
  margin: 5px 5px 0 0;
}

.wts-toolbar-select,
.wts-toolbar-search,
.wts-toolbar-nav-search{
  padding-left: 4px;
  height: 22px;
  border: 1px solid darkgrey;
}

.wts-toolbar-search{
  width: 88px;
  -webkit-transition: width .5s;
  -moz-transition: width .5s;
  transition: width .5s;
}

.wts-toolbar-search:focus{
  width: 160px;
}

.wts-toolbar-button,
.wts-toolbar-nav-button{
  width: 28px;
}

.wts-toolbar-button{
  float: left;
  margin: 2px 0 0 5px;
}

.wts-toolbar-nav-button{
  float: right;
  margin: 2px 5px 0 0;
}

.wts-toolbar-nav-button:hover, .wts-toolbar-button:hover{
  background-color: #8DB6FF;
  background-color: rgba(89, 150, 255, .7);
}

/************************************************************************************
TABLES
*************************************************************************************/
.wts-table, .wts-calendar-table, .wts-aside-calendar-table{
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  cursor: default;
}

.wts-table td, .wts-calendar-table td{
  border-right: solid 1px darkgrey;
  overflow:hidden;
}

.wts-table td{
  padding: 7px;
}

.wts-calendar-table td{
  padding: 0 7px;
}

.wts-table thead td,
.wts-calendar-table thead td{
  padding: 7px 5px;
  text-align: center;
}

.wts-table td:last-child, .wts-calendar-table td:last-child{ 
  border-right: none;
}

.wts-table thead, .wts-calendar-table thead{
  font-size: 120%;
}

.wts-table tbody,
.wts-calendar-table tbody,
.wts-aside-calendar-table,
.wts-calendar-offset,
.wts-table-color.wts-tag,
.wts-table-color.wts-tag-checkbox{
  font-size: 88%;
}

.wts-table-sel,
.wts-table tbody tr:hover,
.wts-aside-calendar-table tbody td:hover, 
.wts-calendar-table tbody td:hover{
  background-color: #BFBFB4;
}

.wts-table tbody tr,
.wts-table thead tr,
.wts-calendar-table tbody tr,
.wts-calendar-table thead tr{
  border-bottom: solid 1px darkgrey;
}

.wts-table tbody tr:last-child,
.wts-calendar-table tbody tr:last-child{ 
  border-bottom: none;
}

.wts-table-image{
  width: 24px;
}

.wts-table-narrow-image{
  width: 12px;
}

.wts-table-image,
.wts-table-narrow-image{
  vertical-align: middle;
  margin-right: 5px;
}

.wts-table-color{
  padding: 2px 5px;
  /*margin: 5px 5px 0 0;*/
  display: inline-block;
  text-shadow: 0px 1px 0px white;
  border: solid 1px darkgrey;
  max-width: 165px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /*letter-spacing: 1px;
  text-transform: uppercase;*/
}

/*.wts-table-color.wts-tag-checkbox{
  margin-top: 5px;
}*/

.wts-table-color.wts-tag,
.wts-table-color.wts-tag-checkbox{
  text-decoration: none;
  cursor: default;
  color: black;
  padding: 5px;
}

.wts-table-color.wts-tag:hover{
  text-decoration: underline;
}

.wts-table-chain{
  background-image: url('../img/ic_action_chain_bkgrnd.png');
  background-position: 4px 0;
  background-repeat: repeat-y;
}

.wts-table-empty{
  background-color: #BFD3BF;
  color: white;
}

.wts-calendar-table td.wts-table-empty:hover,
.wts-aside-calendar-table td.wts-table-empty:hover{
  background-color: #BFD3BF;
}

.wts-aside-calendar-table, .wts-calendar-table{
  text-align: center;
}

.wts-aside-calendar-table{
  background-color: white;
  background-color: rgba(255, 255, 255, .5);
  border: solid 1px darkgrey;
  height: 180px;
  text-align: center;
}

.wts-aside-calendar-table thead{
  font-weight: bold;
}

.wts-calendar-offset-box{
  position: absolute;
  width: 100%;
  padding-left: 100px;
  box-sizing: border-box;
  -moz-box-sizing: border-box; /*Firefox 1-3*/
  -webkit-box-sizing: border-box; /* Safari */

}

.wts-calendar-offset{
  cursor:pointer;
  padding-left: 5px; 
  padding-top: 5px; 
  /*overflow: hidden;*/
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box; /*Firefox 1-3*/
  -webkit-box-sizing: border-box; /* Safari */
  
  border: solid 1px rgb(0, 139, 91);
  background-color: rgba(0, 139, 91, .3);
  /*background-color: rgba(0, 120, 201, 0.5);*/
}

.wts-calendar-offset:hover{
  border: solid 1px rgb(139, 0, 0);
  background-color: rgba(139, 0, 0, .3);
}

/************************************************************************************
AJAX SEARCH
*************************************************************************************/
 #wts-search-advice-wrapper,
 #wts-search-advice-wrapper-cnt1,
 #wts-search-advice-wrapper-cnt2,
 #wts-search-advice-wrapper-grp1,
 #wts-search-advice-wrapper-grp2,
 #wts-search-advice-wrapper-to,
 #wts-search-advice-wrapper-cc,
 #wts-search-advice-wrapper-bcc,
 #wts-search-advice-wrapper-cnt,
 #wts-search-advice-wrapper-agt{
  display: none;
  background-color: white;
  z-index: 999;
  position: absolute;
  list-style: none;
  min-width: 150px;
  font-size: 88%;
  border: 1px solid darkgrey;
  /*box-shadow: 3px 3px 3px darkgrey;*/
}

.wts-advice-variant{
  cursor: default;
  padding: 5px;
}

.wts-advice-variant:hover, .wts-advice-variant.active{
  background-color: threedface;/*from jscolor*/
}

/************************************************************************************
SVG
*************************************************************************************/

.wts-svg{
  width: 240px;
  height: auto;
}

.wts-svg-ico{
  vertical-align: middle;
  width: 14px;
  height: 14px;
}

.wts-svg-ico-a{
  text-decoration: none;
  margin: 0 2px;
}
