@import url("default.css");

body{
  background-color: #7EAC9C;
}

.wts-main-center-section,
.wts-main-float-section,
.wts-main-section,
.wts-aside-section,
.wts-main-toolbar-section{
  background-color: #D3E8DC;
}

#wts-main-nav,
#wts-main-nav li,
#wts-main-nav li:hover ul{
  background-color: #004F34;
}

#wts-main-nav span, #wts-main-nav a:hover{
  background-color: #1F3D2F;
}

.wts-toolbar-nav-button:hover, .wts-toolbar-button:hover{
  background-color: #7EAC9C;
  background-color: rgba(126, 172, 156, .7);
}

.wts-table-sel,
.wts-table tbody tr:hover,
.wts-aside-calendar-table tbody td:hover, 
.wts-calendar-table tbody td:hover{
  background-color: #abc9bf;
}
