/************************************************************************************
smaller than 1100
*************************************************************************************/
@media screen and (max-width: 1100px) {

  .wts-svg{
    width: 100%;
  }
  
  .wts-table thead, .wts-calendar-table thead, .wts-section-caption{
    font-size: 100%;
    font-weight: bold;
  }
  
  .wts-table td{
    padding: 5px;
  }
  
  .wts-calendar-table td{
    padding: 0 5px;
  }
  
  .wts-aside-calendar-table{
    height: 130px;
  }
  
  .wts-table-chain{
    background-position: 2px 0;
  }
  
  .wts-calendar-offset-box{
    padding-left: 98px;
  }
  
  .wts-toc, .wts-input-bar{
    margin: 0 0 3px;
  }

}

/************************************************************************************
smaller than 900
*************************************************************************************/
@media screen and (max-width: 900px) {

  /*.wts-svg{
    width: 185px;
  }*/
  
  .wts-table thead, .wts-calendar-table thead, .wts-section-caption{
    font-size: 90%;
  }
  
  .wts-toc{
    line-height: normal;
  }
  
  .wts-toc-image{
    width: 14px;
  }

}
