@import url("default.css");

body{
  background-color: #AC7E8A;
}

.wts-main-center-section,
.wts-main-float-section,
.wts-main-section,
.wts-aside-section,
.wts-main-toolbar-section{
  background-color: #E8D3D9;
}

#wts-main-nav,
#wts-main-nav li,
#wts-main-nav li:hover ul{
  background-color: #73001F;
}

#wts-main-nav span, #wts-main-nav a:hover{
  background-color: #4F0015;
}

.wts-toolbar-nav-button:hover, .wts-toolbar-button:hover{
  background-color: #AC7E8A;
  background-color: rgba(172, 126, 138, .7);
}

.wts-table-sel,
.wts-table tbody tr:hover,
.wts-aside-calendar-table tbody td:hover, 
.wts-calendar-table tbody td:hover{
  background-color: #c9abb3;
}
