@import url("default.css");

body{
  background-color: #ACA77E;
}

.wts-main-center-section,
.wts-main-float-section,
.wts-main-section,
.wts-aside-section,
.wts-main-toolbar-section{
  background-color: #E8E8D3;
}

#wts-main-nav,
#wts-main-nav li,
#wts-main-nav li:hover ul{
  background-color: #4F4700;
}

#wts-main-nav span, #wts-main-nav a:hover{
  background-color: #3D3A1F;
}

.wts-toolbar-nav-button:hover, .wts-toolbar-button:hover{
  background-color: #ACA77E;
  background-color: rgba(172, 167, 126, .7);
}

.wts-table-sel,
.wts-table tbody tr:hover,
.wts-aside-calendar-table tbody td:hover, 
.wts-calendar-table tbody td:hover{
  background-color: #c9c6ab;
}
